@import url('https://fonts.googleapis.com/css?family=Bangers|Oxygen&display=swap');
.content{
    width:70%;
    margin:auto;
}
h1 {
    color: rgb(39, 45, 138);
    background-color: lightgray;
    padding:10px;
    border-radius:10px;
    margin:10px auto;
    text-align: center;
    max-width: 85%;
    font-family: 'Bangers';
}
h2{
    color: rgb(39, 45, 138);
    font-size: 2em;
    margin:auto;
    font-family: 'Bangers';
    text-align: center;
}
h3{
    margin:auto;
}
body{
    background-color: rgb(80, 59, 165);
     
}
.main-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    border-radius: 10px;
    margin:10px auto;
    background-color: lightgray;
    padding-top:1em;
    padding-bottom:1em;
    justify-content: center;
}
.example_imgs{
    margin:5px auto;
    max-width: 85%;
    max-height: 20em;
    justify-self: center;
}
p{
    font-family: 'Oxygen';
    text-align: center;
    padding:5px;
}
footer{
    max-width: 80%;
    border-radius: 10px;
    color: rgb(39, 45, 138);
    background-color: lightgray;   
    margin:5px auto; 
}
footer a{
    color: rgb(39, 45, 138);
}
a:hover{
    color:rgb(30, 47, 141);
    font-size: 1.1em;
}

@media screen and (min-width:750px){
   .content{
        width:70%;
        margin:auto;
        display:grid;
        grid-template-columns: 1fr 1fr;
   } 
   .main-1{
        grid-column: 1/2;
        max-width: 90%;
        margin:auto;
        border-radius: 10px;
        margin:10px auto;
    }
    .main-2{
        grid-column: 2/3;
        max-width: 90%;
        margin:auto;
        border-radius: 10px;
        margin:10px auto;
    }
    .main-3{
        grid-column: 1/3;
        margin:auto;
        max-width:45%;
    }

}

@media screen and (min-width:1200px){
    .content{
        width:100%;
        margin:auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.7fr;
    } 
    .main-1{
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 90%;
        margin:auto;
        border-radius: 10px;
        margin:10px auto;
    }
    .main-2{
        grid-column: 2/3;
        max-width: 90%;
        grid-row: 1/2;
        margin:auto;
        border-radius: 10px;
        margin:10px auto;
    }
    .main-3{
        grid-column: 3/4;
        grid-row: 1/2;
        max-width: 90%;
        margin:auto;
        border-radius: 10px;
        margin:10px auto;
    }
 }