h1 {
    color: white;
    background-color: blue;
    padding:10px;
}
.home-img {
    float:right;
}
.home-title {
    font:sans-seriff;
    border-bottom: 2px solid black;
}
body {
    background-color: red;
}