@import url('https://fonts.googleapis.com/css?family=Bangers|Oxygen&display=swap');
h1 {
    color: rgb(194, 186, 186);
    background-color: rgb(46, 46, 136);
    padding:10px;
    border-radius:10px;
}
.main-content{
    max-width: 80%;
    margin:auto;
    font-family: "Oxygen";
}
.home-img {
    float:right;
    max-width:18%;
    margin-right: 10px;
    margin-top:10px;
}
.title{
    font-family:"Bangers";
}
.home-title {
    font-family:"Bangers";
    border-bottom: 2px solid black;
}
footer{
    background-color: rgb(46, 46, 136);
    color: rgb(194, 186, 186);
    padding:10px;
    border-radius:10px;
    text-align: center;
}
.content{
    max-width: 65%;
    margin:auto;
}
.footer-p1{
    margin: 0;
}
.footer-p2{
    color: yellow;
    margin:0;
}
footer a{
    color: rgb(194, 186, 186);
}
footer a:hover{
    color: yellow;
    font-size: 1.1em;
}