@import url('https://fonts.googleapis.com/css?family=Lato|Righteous&display=swap');
header{
    background-color: mediumslateblue;
    border-radius: 10px;
    padding-bottom: 0.5em;
}
header h1{
    text-align: center;
    font-family: 'Righteous';
    padding-top: 1em;
}
h3{
    font-family: 'Righteous';
    font-size: 1.6em;
}
main h2{
    font-family: 'Righteous';
    font-size: 1.8em;
    text-align: center;
}
footer{
    background-color: mediumslateblue;
    justify-content: center;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
footer p{
    text-align: center;
}
main{
    background-color:White;
}
main p{
    text-align: center;
}
main h3{
    text-align: center;
}
.content{
    max-width: 70%;
    margin: 0 auto;
    border-radius: 50px;
}

nav {
    background-color: mediumslateblue;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}
nav a{
    display: block;
    color:black;
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    font-family: 'Lato';
}
nav a:hover{
    font-size: 1.1em;
    background-color: mediumturquoise;
}
nav ul li{
    flex: 1 1 100%;
}
p{
    font-family: 'Lato';
}
.logo-img{
    max-width: 10em;
    margin: 0 auto;
    display: inline-block;
    margin: 0 43%;
}
.color1{
    font-family: 'Lato';
    background-color: #4381C1;
    color:black;
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;;
}
.color2{
    font-family: 'Lato';
    background-color:#BDADEA;
    color:black;
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;;
}
.color3{
    font-family: 'Lato';
    background-color:#404E5C;
    color:white;
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;;
}
.color4{
    font-family: 'Lato';
    background-color:#FFCE22;
    color:black;
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}
.people{
    display: flex;
    justify-content: center;
}
.people img{
    flex: 1 1 100%;
    padding:1em;
    max-width: 25em;
    margin: 1em;
    perspective: 1000px;
}
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .person1:hover .inner {
    transform: rotateY(180deg);
  }
  .person2:hover .inner {
    transform: rotateY(180deg);
  }
  front, 
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .back {
    background-color: lightgray;
    color: #2A1E5C;
    transform: rotateY(180deg);
  }
  