@import url('https://fonts.googleapis.com/css?family=Lato|Righteous&display=swap');

.content{
    max-width: 75%;
    margin:auto;
}
h1,h3, h2, h4{
    font-size: 1em;
    font-family: 'Righteous';
    padding-top: 1em;
    text-align: center;
}
header{
    background-color: rgb(105, 209, 95);
    justify-content: center;
}
.header{
    display: flex;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 0 auto;
    justify-content: center;
}
header p {
    text-align: center;
    font-size: 0.7em;
}
header h1{
    display: inline-block;
    margin:auto;
}
p{
    font-family: 'Lato';
    font-size: 0.7em;
}
.logo-img{
    max-width: 15%;
    display: inline-block;
    justify-items: center;
    padding-right:1em;
}
main p{
    text-align: center;
}
main h3{
    text-align: center;
}
h3{
    font-family: 'Righteous';
    font-size: 1.6em;
}
.menu-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
.active{
    color:White;
    background-color: rgb(15, 88, 15);
}
footer{
    background-color: rgb(82, 163, 65);
    padding:0.5em;
}
footer p{
    margin: 1em auto;
    text-align: center;
}
.hero{
    max-width: 80%;
    background-image: url('../images/new-image.jpeg');
    margin: 1em auto;
    padding: 1em;
    background-size: cover;
}
.weather-summary{
    max-width: 25em;
    background-color: rgb(105, 209, 95);
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    opacity:0.8;
    box-shadow: 0px 0px 10px whitesmoke;
}
.wheader{
    margin-bottom:5px;
}
.summary{
    text-align: left;
    display: inline;
    margin-left: 80px;
}

.forecast{
    max-width: 80%;
    background-color: rgb(105, 209, 95);
    margin: 1em auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.forecast-box{
    background-color: rgb(40, 40, 150);
    width: 80%;
    height: 4em;
    display:block;
    margin:0 auto;
}
.article{
    max-width: 80%;
    background-color: rgb(105, 209, 95);
    margin: 1em auto;
    padding: 1em;
    display:flex;
    flex-direction: column;
}
.article-words{
    max-width: 100%;
}
.article-img{
    max-width: 100%;
}

.contact{
    max-width: 80%;
    background-color: rgb(105, 209, 95);
    margin: 1em auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.googleMap{
    grid-column: 1/2;
    max-width: 80%;
    margin: auto;
}
.contact-info{
    grid-column: 2/3;
    max-width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.navigation{
    margin-right: 2em;
    margin-bottom: 1em;
}
ul{
    font-size: large;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    }
    li{
      padding: 15px;
      display: none;
    }
    li:first-child{
      display: block;
    }
    .responsive li{
      display: block;
      background-color: rgb(238, 236, 250);
    }
    nav li a{
        text-align: center;
        width: 100%;
        height:100%;
    }
    nav li:hover{
      background-color: rgb(15, 88, 15);
      color: White;
  }
  nav a {
    color:  rgb(26, 25, 25) ;
    display: block;
    text-align: center;
    padding: 0.4em;
    text-decoration: none;
    font-family: 'Lato';
    background-color: rgb(82, 163, 65);
  }
.fill{
    display: none;
}




 /* -------------------------------------- GALLERY PAGE STYLES --------------------------------------------------*/
.gallery{
    max-width: 100%;
    max-height: 100%;
    display:grid;
    grid-template-columns: 1fr;
    margin:0 auto;
    padding-bottom: 1em;
}
.gallery-box1{
    display: block;
    max-width: 600px;
    grid-column: 1/2;
}
.gallery-box2{
    display: block;
    max-width: 600px;
    grid-column: 1/2;
}
.gallery-box3{
    display: block;
    max-width: 600px;
    grid-column: 1/2;
}
.gallery-box4{
    display: block;
    max-width: 600px;
    grid-column: 1/2;
}
.gallery-box5{
    display: block;
    max-width: 600px;
    grid-column: 1/2;
}
.gallery-box6{
    display: block;
    max-width: 600px;
    grid-column: 1/2;
}
.gallery-box7{
    display: block;
    max-width: 600px;
    grid-column: 1/2;
}
.gallery-box8{
    display: block;
    max-width: 600px;
    grid-column: 1/2;
}
.gallery-box9{
    display: block;
    max-width: 600px;
    grid-column: 1/2;
}
.gallery-desc{
    display: block;
    margin:0 auto;
    padding-bottom: 1em;
}
.gallery-img{
    max-width: 100%;
}


/* -----------------------------------STORM CENTER PAGE STYLES -------------------------------------------------*/


form{
    max-width: 80%;
    background-color:  rgb(82, 163, 65);
    border-radius: 1em;
    margin: 10px auto;
    justify-items: center;
}
fieldset{
    max-width: 60%;
    background-color: lightgrey;
    box-shadow: 5px 5px 5px grey;
    margin:0 auto;
    padding:20px;
    border-radius: 1em;
    align-items:center;
    align-content: center;
}
.storm-button{
    margin:5ox auto;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-family: 'Righteous';
    width: 10em;
    height: 4em;
    border-radius: 1em;
    margin-left:40%;
    background-color: lightgray;
}
.storm-button:hover{
    box-shadow: 3px 3px 4px rgb(15, 88, 15);
    color:white;
    background-color: rgb(15, 88, 15);
}
label{
    margin:0 auto;
    font-family: 'Lato';
    margin-left: 40%;
    font-style: oblique;
}
input{
    margin:10px auto;
    text-align: center;
    margin-left: 30%;
}
.danger-level{
    margin: auto;
}








@media screen and (min-width:600px){
    .content{
        max-width: 75%;
        margin:auto;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-items: center;
       } 
    nav ul li{
        background-color: rgb(82, 163, 65);
        font-family: 'Lato';
        text-align: center;
        flex: 1 1 100%;
      }
       li:first-child{
           display: none;
       }
       li{
           display: block; 
           justify-items: center;
       }
       header h1, footer{
        font-size: 2rem;
          }
      nav a {
            color:  black;
          }
     .logo1{
      position: relative;
      top: 1rem;
      left: 4rem;
        }
    nav a:hover{
        background-color: rgb(15, 88, 15);
        color:White;
    } 
    .logo-img{
        max-width: 11%;
        display: inline-block;
        justify-items: center;
        padding-right:1em;
    }
    h1, h2, h3, h4{
        text-align: center;
        font-family: 'Righteous';
        padding-top: 1em;
        font-size:1.5em;
    }
    p{
        font-family: 'Lato';
        font-size: 1em;
    }
    header p{
        font-size: 1em;
    }
    .article{
        max-width: 80%;
        background-color: rgb(105, 209, 95);
        margin: 1em auto;
        padding: 1em;
        display:flex;
        flex-direction: row;
    }
    .article-words{
        max-width: 50%;
    }
    .article-img{
        max-width: 60%;
    }
    .ham{
        display:none;
    }
    .fill{
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: space-evenly;
    }
    footer p{
        font-size: 0.45em;
    }




    .gallery{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .gallery-desc{
        display: block;
        margin:0 auto;
    }
    .gallery-img{
        max-width: 100%;
    }
    .gallery-box1{
        display: block;
        max-width: 100%;
        grid-column: 1/2;
        box-shadow: 0px 0px 2px black;
    }
    .gallery-box1:hover{
        box-shadow: 0px 0px 5px 1px black;
        transition:0.4s;
    }
    .gallery-box2{
        display: block;
        max-width: 100%;
        grid-column: 2/3;
        box-shadow: 0px 0px 2px black;
    }
    .gallery-box2:hover{
        box-shadow: 0px 0px 5px 1px black;
        transition:0.4s;
    }
    .gallery-box3{
        display: block;
        max-width: 100%;
        grid-column: 1/2;
        box-shadow: 0px 0px 2px black;
    }
    .gallery-box3:hover{
        box-shadow: 0px 0px 5px 1px black;
        transition:0.4s;
    }
    .gallery-box4{
        display: block;
        max-width: 100%;
        grid-column: 2/3;
        box-shadow: 0px 0px 2px black;
    }
    .gallery-box4:hover{
        box-shadow: 0px 0px 5px 1px black;
        transition:0.4s;
    }
    .gallery-box5{
        display: block;
        max-width: 100%;
        grid-column: 1/2;
        box-shadow: 0px 0px 2px black;
    }
    .gallery-box5:hover{
        box-shadow: 0px 0px 5px 1px black;
        transition:0.4s;
    }
    .gallery-box6{
        display: block;
        max-width: 100%;
        grid-column: 2/3;
        box-shadow: 0px 0px 2px black;
    }
    .gallery-box6:hover{
        box-shadow: 0px 0px 5px 1px black;
        transition:0.4s;
    }
    .gallery-box7{
        display: block;
        max-width: 100%;
        grid-column: 1/2;
        box-shadow: 0px 0px 2px black;
    }
    .gallery-box7:hover{
        box-shadow: 0px 0px 5px 1px black;
        transition:0.4s;
    }
    .gallery-box8{
        display: block;
        max-width: 100%;
        grid-column: 2/3;
        box-shadow: 0px 0px 2px black;
    }
    .gallery-box8:hover{
        box-shadow: 0px 0px 5px 1px black;
        transition:0.4s;
    }
    .gallery-box9{
        display: block;
        max-width: 50%;
        grid-column: 1/3;
        margin:0 auto;
        box-shadow: 0px 0px 2px black;
    }
    .gallery-box9:hover{
        box-shadow: 0px 0px 5px 1px black;
        transition:0.4s;
    }
    
}
















    @media screen and (min-width:1000px){
 


        .logo-img{
            max-width: 8%;
            display: inline-block;
            justify-items: center;
            padding-right:1em;
        }
        h1, h2{
            text-align: center;
            font-family: 'Righteous';
            padding-top: 1em;
            font-size:2em;
        }
        h3, h4{
            font-size: 1.6em ;
        }
        .article-words{
            max-width: 50%;
        }
        .article-img{
            max-width: 60%;
        }
        .ham{
            display:none;
        }
        .fill{
            display: none;
        }
        .navigation {
            display: flex;
            justify-content: space-evenly;
        }
        footer p{
            font-size: 0.6em;
        }
        .gallery{
            max-width: 100%;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0 auto;
            grid-gap: 1em;
        }
        .gallery-desc{
            display: block;
            margin:0 auto;
        }
        .gallery-img{
            max-width: 100%;
        }
        .gallery-box1{
            display: block;
            max-width: 100%;
            grid-column: 1/2;
        }
        .gallery-box2{
            display: block;
            max-width: 100%;
            grid-column: 2/3;
        }
        .gallery-box3{
            display: block;
            max-width: 100%;
            grid-column: 3/4;
        }
        .gallery-box4{
            display: block;
            max-width: 100%;
            grid-column: 1/2;
        }
        .gallery-box5{
            display: block;
            max-width: 100%;
            grid-column: 2/3;
        }
        .gallery-box6{
            display: block;
            max-width: 100%;
            grid-column: 3/4;
        }
        .gallery-box7{
            display: block;
            max-width: 100%;
            grid-column: 1/2;
        }
        .gallery-box8{
            display: block;
            max-width: 100%;
            grid-column: 2/3;
        }
        .gallery-box9{
            display: block;
            max-width: 100%;
            grid-column: 3/4;
        }
    }
