@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
table{
    margin: 20px auto;
    box-shadow: 5px 5px 5px #287d8a;
    padding: none;
    background-color: #e7f0ed;
    border-color:red;
    border-collapse: collapse;
}
td{
    border-collapse: collapse;
    border: 1px solid lightgray;
}
tr td {
    padding:4px;
    text-align: center;
    font-family: 'Ubuntu';
}
#header{
    text-align: center;
    margin:0;
    padding: 5px;
    background-color: #7fb9c2;
    width: 100%;
    height: 100%;
}
tr:nth-child(odd){
    background-color: #e7ffed;
    color: black;
}   
tr:nth-child(3){
    background-color: #628ca6;
    color:white;
}
tr:last-child{  
    background-color: #7fb9c2;
    font-size: 0.7em;
}
tr:nth-child(7) td:nth-child(3){
    background-color: #628ca6;
    color:white;
}
tr:nth-child(8) td:nth-child(1){
    font-style: italic;
}